:host ::ng-deep {
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 10fr;
  }

  .grid-header-section {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .grid-body-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .box-container {
    padding: 10px;
  }

  .note-tile-container {
    max-width: 160px;
    max-height: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .new-note {
    width: 182px;
    height: 127px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abaaa1;
  }

  .head-title {
    font-weight: 600;
    font-size: 26px;
    border-bottom: 1px dashed;
  }

  @media (max-width: 558px) {
    .box-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .new-note {
      width: 100%;
      margin: auto;
      position: sticky;
      z-index: 100;
      top: 0rem;
    }
  }
}
